#header-img{
width:30px;
height:30px;
margin: 0px;
padding: 0px;
}
#header{
    padding: 0px;
    margin:0px;

}
.nav-item{
    list-style: none;
}

.navbar{
    display: inline-block;
    
}
.navbar-brand{
    padding: 0px;
}
.nav-link{
    padding: 5px;
    font-size: 15px;
}

